@import './fonts.scss';
@import './reset.scss';
@import './colors.scss';
@import './components/primaryBtn.scss';
@import './components/sectionTitle.scss';

body {
  font-family: 'MuseoSans';
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}
